@import"./portfolio";

body { 
  background-color: #c3cfe2;
  color:black;
  font-family:Tahoma, sans-serif;
  font-size:16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}

.portfolio:hover .portfolio__frame__image {
  opacity: 0;
}

.portfolio:hover .portfolio__frame__onhover {
  opacity: 1;
}

.container:hover .portfolio__frame__button {
  opacity: 1;
}

@media (max-width: 768px) {
.portfolio {
  flex: 0 100%;
  }

.portfolio__frame {
  width: 500px;
  height: 500px;
  } 

.portfolio__frame__image {
  width: 500px;
  }  

.portfolio__frame__button a {
  position: absolute; 
  top: 250px; 
  left: 150px;
  width: 200px;
  padding: 10px;
  } 
}

@media (min-width: 768px) {
.portfolio {
    flex: 0 50%;
    } 
.portfolio__frame {
    width: 400px;
    height: 400px;
    }     
.portfolio__frame__image {
    width: 400px;
    } 
.portfolio__frame__button a {
    position: absolute; 
    top: 200px; 
    left: 100px;
    width: 200px;
    padding: 10px;
    } 
}

@media (min-width: 1024px) {
.portfolio {
    flex: 0 32%;
    } 
.portfolio__frame {
    width: 300px;
    height: 300px;
        }
.portfolio__frame__image {
    width: 300px;
    } 
.portfolio__frame__button a {
    position: absolute; 
    top: 150px; 
    left: 50px;
    width: 200px;
    padding: 10px;
    } 
}
